---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import HomepageSection from '../layouts/HomepageSection.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ChatBubble from '../components/ChatBubble.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';

import { Content as BioData } from '../data/bio-data.md';
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
const currentExperiences = await getCollection('currentExperiences');
const pastExperiences = await getCollection('pastExperiences');
---

<Layout>
	<Header />
	<main class="h-full w-full max-w-5xl m-auto flex flex-col place-items-center">
		<ChatBubble><BioData /></ChatBubble>
		<HomepageSection title="Featured Projects" htmlId="projects">
			{projects.map(project => (
				<Project project={project} /> 
			))}
		</HomepageSection>
		<HomepageSection title="Currently" htmlId="works">
			{currentExperiences.map(experience => (
				<Experience experience={experience} /> 
			))}
		</HomepageSection>
		<HomepageSection title="Previously">
			{pastExperiences.map(experience => (
				<Experience experience={experience} /> 
			))}
		</HomepageSection>
		<ChatBubble title="💭"></ChatBubble>
	</main>
	<Footer />
</Layout>

<style>
</style>
