---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import HomepageSection from '../layouts/HomepageSection.astro';

import { getCollection } from 'astro:content';
const projects = await getCollection('projects');

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main class="h-full w-full max-w-7xl m-auto flex flex-col place-items-center">
		<section class="font-light text-xl p-40">Biography</section>
		<HomepageSection title="Featured Projects">
			{projects.map(project => (
				<Project project={project} /> 
			))}
		</HomepageSection>
		<HomepageSection title="Currently"></HomepageSection>
		<HomepageSection title="Previously"></HomepageSection>
	</main>
</Layout>

<style>
</style>
