---
import "../styles/global.css";
---
<header>
    <div><p>3D Hero Placeholder</p></div>
    <nav class="flex justify-between w-full items-center p-8">
        <a href="/" class="text-4xl">&rew HoChoy</a>
        <div class="flex gap-12 text-xl items-center">
            <a>Projects</a>
            <a>Work</a>
            <a>Writings</a>
            <a class="bg-stone-100 p-5 rounded-xl">DMs are open <span class="dot"></span></a>
        </div>
    </nav>
</header>

<style>
    .dot {
        height: 12px;
        width: 12px;
        background-color: limegreen;
        border-radius: 50%;
        display: inline-block;
        margin-left: .5rem;
    }
</style>
