---
const { title } = Astro.props;
---
<section>
    <hgroup><h2>{title}</h2></hgroup>
    <div class="section-content">
        <slot />
    </div>
</section>

<style>
    section {
        display: flex;
        width: 100%;
        min-height: 24rem;
        height: 40vh;
    }

    hgroup {
        width: 100%;
        max-width: 24rem;

        h2 {
            margin: 0;
            font-size: 3rem;
            font-weight: 400;
        }
    }

    .section-content {
        flex-grow: 1;
    }

</style>
