---
import "../styles/global.css";
const { title, htmlId } = Astro.props;
---
<section id={htmlId} class="flex flex-col min-h-[50vh] md:flex-row m-auto w-full">
    <hgroup class="md:w-96 shrink-0"><h2 class="text-3xl md:text-5xl my-6 md:m-0">{title}</h2></hgroup>
    <div class="section-content">
        <slot />
    </div>
</section>
