---
import "../styles/global.css";
const { title, htmlId } = Astro.props;
---
<section id={htmlId}>
    <hgroup><h2>{title}</h2></hgroup>
    <div class="section-content">
        <slot />
    </div>
</section>

<style>
    section {
        display: flex;
        width: 100%;
        min-height: 50vh;
    }

    hgroup {
        width: 100%;
        max-width: 24rem;

        h2 {
            margin: 0;
            font-size: 3rem;
            font-weight: 400;
        }
    }

    .section-content {
        flex-grow: 1;
    }

</style>
